# Prerequisites
*.d

# Compiled Object files ( Makefile is generated on build )
Makefile.*
*.slo
*.lo
*.o
*.obj

# User project files
*.pro.user.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extemporaneous files
*.DS_Store
